body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /* background-color: #1B1B1D; */
  background-color: #11090F;
}

html, body, #root {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	align-self: stretch;
	justify-self: stretch;
	justify-content: stretch;
	align-items: stretch;
	height: 100%;
	flex-direction: column;
	user-select: none;
	-moz-user-select: none;
}

*::-webkit-scrollbar {
	width: 8px;
	background: rgba(255, 255, 255, 0);
	transition-duration: 300ms;
}

*::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.2);
}

*::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar:hover {
	/* width: 16px; */
	background: rgba(255, 255, 255, 0.2);
}

*[data-blur] {
	backdrop-filter: blur(12px);
}

/* Microsoft have rounded inputs by default in Edge.... WHY?!?!?! */
input, button {
	border-radius: 0;
}

.hubspot2Keysform * {
	color: #ffffff;
}

.consent-checkbox {
	margin: auto 8px auto 0;
}

.consent-checkbox:not(output):-moz-ui-invalid, .consent-checkbox:invalid {
	box-shadow: none;
	outline: 1px red solid;
}